@model ListaComprasWeb.Models.ProdutoItemViewModel

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Voltar", "ListaDeProdutos")

<h2>Lista de compras a fazer</h2>

@foreach (var nome in Model.ProdutoParaComprar)
{
    <h4>@nome</h4>    
}