@model ListaComprasWeb.Models.ProdutoItemViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Lista de compras a fazer</h2>

@foreach (var nome in Model.ProdutoParaComprar)
{
    <span>@nome</span>    
    
    <br/>
}